<html>
    <head>
        <title>Hello!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    </head>
    <body>
        <div class="card">
            <div class="container">
                <form action="#" method="POST">
                    <p class="datafromserver">
                        {{ server }}
                    </p>
                    <section class="bottominput">
                        <p>
                            <input type="text" name="nm" />
                        </p>
                        <p>
                            <input type="submit" value="submit" />
                        </p>
                    </section>
                </form>
            </div>
        </div>
    </body>
</html>